@{
    ViewBag.Title = "About";
}

<hgroup class="title">
    <h1>О нас:</h1>
    <h2>Информация о сайте</h2>
</hgroup>

<article>
    <p>
        Если коротко, "Маяковский. Желтая кофта" - это альтернативная площадка Казани, где рады любым интеллектуальным творческим начинаниям. Большая  мобильная сцена, качественный звук - все это дает возможность проводить  концерты и другие мероприятия. На сцене молодого перспективного клуба «Маяковский. Желтая кофта» выступили такие известные коллективы, как  Ва-банк, Аукцыон, Колибри.
    </p> 
    <p>
         Практически каждый день к нам приезжают музыканты самых различных форматов, уровней и жанров: от начинающих исполнителей до известных всей стране коллективов. В стенах нашего клуба уже успели выступить Аукцыон, Ва-Банкъ, Ляпис Трубецкой, Найк Борзов, Калинов Мост, Дельфин, Крематорий, Мегаполис, Пилот, Король и Шут, Lumen и многие, многие другие известные исполнители.
    </p>
        Однако у нас проводятся не только выступления рок-коллективов. Именно здесь, в ресторане-клубе «Маяковский. Желтая кофта», проходил Международный фестиваль Emergenza и фестиваль «Крутушка». Именно здесь ежегодно здесь отмечается День студента и Татьянин день. И, что самое главное, наши гости всегда уходят в полном восторге – ведь все концерты сопровождаются бешеной энергетикой и драйвом, 
    </p>

    <p>
        Посетители ресторана могут заказать  следующие блюда: "Облако в штанах", "Морально устойчивая", "Цыпочки",  "Хрюндель", "Жадина-гавядина", "Штрудель от Швондера" и другие. Культ  поэзии Маяковского присутствует во всем.
    </p>

    <p>
        На этом сайте вы найдете актуальную информацию о ближайших концертах.
    </p>
</article>

<aside>
    <h3>Ссылки</h3>
    <p>
        Просмотрите другую информацию о нас:
    </p>
    <ul>
        <li>@Html.ActionLink("Главная", "Index", "Home")</li>
        <li>@Html.ActionLink("О нас", "About", "Home")</li>
        <li>@Html.ActionLink("Контакты", "Contact", "Home")</li>
    </ul>
</aside>