@{
    ViewBag.Title = "Contact";
}

<hgroup class="title">
    <h1>Контакты</h1>
    <h2></h2>
</hgroup>

<section class="contact">
    <header>
        <h3>Телефоны</h3>
    </header>
    <p>
        <span class="label">Покупка билетов:</span>
        <span>265-88-11</span>
    </p>
    <p>
        <span class="label">Доставка билетов:</span>
        <span>265-11-88 </span>
    </p>
</section>

<section class="contact">
    <header>
        <h3>Email</h3>
    </header>
    <p>
        <span class="label">Поддержка:</span>
        <span><a href="mailto:muzkofta@mail.ru">muzkofta@mail.ru</a></span>
    </p>
    <p>
        <span class="label">Сотрудничество:</span>
        <span><a href="mailto:Marketing@mail.ru">marketing@mail.ru</a></span>
    </p>
</section>

<section class="contact">
    <header>
        <h3>Адрес</h3>
    </header>
    <p>
        г. Казань, ул. Маяковского, 24 а
    </p>
</section>

<section class="contact">
    <header>
        <h3>Как добраться</h3>
    </header>
    <p>
        <iframe width="500" scrolling="no" height="300" frameborder="0" marginheight="0" marginwidth="0" src="https://maps.google.ru/maps?q=%D1%80%D0%B5%D1%81%D1%82%D0%BE%D1%80%D0%B0%D0%BD+%D0%BC%D0%B0%D1%8F%D0%BA%D0%BE%D0%B2%D1%81%D0%BA%D0%B8%D0%B9&amp;oe=utf-8&amp;aq=t&amp;client=firefox-a&amp;ie=UTF8&amp;hl=ru&amp;hq=%D1%80%D0%B5%D1%81%D1%82%D0%BE%D1%80%D0%B0%D0%BD+%D0%BC%D0%B0%D1%8F%D0%BA%D0%BE%D0%B2%D1%81%D0%BA%D0%B8%D0%B9&amp;hnear=%D0%9A%D0%B0%D0%B7%D0%B0%D0%BD%D1%8C,+%D0%A0%D0%B5%D1%81%D0%BF%D1%83%D0%B1%D0%BB%D0%B8%D0%BA%D0%B0+%D0%A2%D0%B0%D1%82%D0%B0%D1%80%D1%81%D1%82%D0%B0%D0%BD&amp;t=m&amp;cid=13708059260042695525&amp;ll=55.790527,49.132855&amp;spn=0.003016,0.005354&amp;z=17&amp;output=embed"></iframe>
    </p>
</section>