@{
    ViewBag.Title = "Home Page";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>Приветствуем Вас</h1>
                <h2>Этот сайт поможет вам выучить английский язык.</h2>
            </hgroup>
            <p>
                Чтобы узнать больше о ASP.NET MVC посетите
                <a href="http://asp.net/mvc" title="ASP.NET MVC Website">http://asp.net/mvc</a>.
                Просмотрите разделы <mark>видео, инструкции, и примеры</mark>, чтобы получить больше от ASP.NET MVC.
                Если у Вас есть вопросы о ASP.NET MVC посетите
                <a href="http://forums.asp.net/1146.aspx/1?MVC" title="ASP.NET MVC Forum">их форумы</a>.
            </p>
        </div>
    </section>
}
<h3>Они предлагают следующее:</h3>
<ol class="round">
    <li class="one">
        <h5>Приступая к работе</h5>
        ASP.NET MVC дает мощный, на основе шаблонов способ создания динамических веб-сайтов, которая позволяет четкое разделение проблем и что дает вам 
        полный контроль над разметкой для приятного, гибкой разработки. ASP.NET MVC включает в себя множество функций, которые позволяют быстро, 
        TDD-благоприятного развития для создания сложных приложений, использующих новейшие веб-стандарты.
        <a href="http://go.microsoft.com/fwlink/?LinkId=245151">Читать больше...</a>
    </li>

    <li class="two">
        <h5>Добавить NuGet пакеты и подтолкнуть ваш кодирование</h5>
        NuGet позволяет легко устанавливать и обновлять бесплатные библиотеки и инструменты.
        <a href="http://go.microsoft.com/fwlink/?LinkId=245153">Читать больше…</a>
    </li>

    <li class="three">
        <h5>Найти веб-хостинг</h5>
        Вы можете легко найти веб-хостинг компания, которая предлагает правильное сочетание возможностей и цены для ваших приложений.
        <a href="http://go.microsoft.com/fwlink/?LinkId=245157">Читать больше…</a>
    </li>
</ol>
